.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
}
.home-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-page-container > * {
  padding-bottom: 50px;
  width: 1000px;
}

.home-contact-container {
  display: flex;
  justify-content: space-between;
}

.home-contact-container > * {
  width: 50%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.column {
  display: flex;
  flex-direction: column;
}
