.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
}
.home-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-page-container > * {
  padding-bottom: 50px;
  width: 1000px;
}

.home-contact-container {
  display: flex;
  justify-content: space-between;
}

.home-contact-container > * {
  width: 50%;
}
